:root {
  --backgroundcolor__dark:#2F303A;
  --accent__color: #2196F3;
  --maine__color__secondery: #757575;
  --maine__color__dark: #212121;
  --fontfamily__praimary:"Roboto", sans-serif;
  --fontfamily__secondery:"Raleway", sans-serif;
  --maine__color__light:#FFFFFF;
  --backgraund__icon:#F5F4FA;
  --color__icon:#AFB1B8;
}

.visualy__hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button__footer-form, .button__form {
  border-radius: 4px;
  background-color: var(--accent__color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--maine__color__light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partner__link, .mobail-social__link, .mobail-menu__link-contact, .mobail-menu__link, .experience__link, .consent__link, .address__link, .logo {
  text-decoration: none;
}

.mobail-social__items, .mobail-menu__contact, .mobail-menu__list, .experience, .potrfolio-nav__list, .address__contacts, .social__items, .social {
  list-style: none;
}

.communication__text, .address__link {
  font-style: normal;
}

body {
  font-family: var(--fontfamily__praimary);
  color: var(--maine__color__dark);
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.conteiner {
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 94px 0;
}

.button {
  border-radius: 4px;
  background-color: var(--accent__color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--maine__color__light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    margin: 0 auto;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    display: flex;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}
.logo__web {
  font-family: var(--fontfamily__secondery);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent__color);
  font-weight: 700;
}

.logo {
  width: 134px;
  height: 28px;
  /* margin-right: 94px; */
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
  font-family: var(--fontfamily__secondery);
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .navigation__items:not(:last-child) {
    margin-right: 50px;
  }
  .navigation__list {
    display: inline-flex;
  }
}
.navigation__link {
  position: relative;
  display: flex;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--maine__color__dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link.current {
  color: var(--accent__color);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent__color);
}

@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact__items {
    display: flex;
    align-items: center;
  }
  .contact__items:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact__items svg {
    margin-right: 10px;
    fill: currentColor;
  }
  .contact__link {
    margin: 0;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--maine__color__secondery);
    font-weight: 500;
  }
  .contact__link:hover, .contact__link:focus {
    color: var(--accent__color);
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    flex-direction: row;
    margin-left: auto;
  }
  .contact__items:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0px;
  }
  .contact__items svg {
    margin-right: 10px;
    fill: currentColor;
  }
}
.social {
  display: flex;
  justify-content: space-between;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  background-color: inherit;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent__color);
  color: var(--maine__color__light);
}

.social__icon {
  fill: currentColor;
}

.address {
  margin-right: 70px;
}

.address__contacts a:hover,
.address__contacts a:focus {
  color: var(--accent__color);
}

.address__list:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address__link--white {
  color: var(--maine__color__light);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 15px 0 15px;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.backdrop.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding-top: 94px;
  }
}
@media screen and (min-width: 768px) {
  .backdrop {
    padding-top: 208px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  opacity: 0;
}

.modal {
  position: relative;
  margin: 0 auto 0 auto;
  width: 450px;
  padding: 40px;
  height: 581px;
  background-color: var(--maine__color__light);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--maine__color__light);
  color: var(--maine__color__dark);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal__btn:hover, .modal__btn:focus {
  color: var(--accent__color);
}

.modal__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 523px;
    transform: translate(-50%, -50%);
    width: 528px;
    padding: 40px;
    height: 581px;
  }
}
.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.label {
  margin-bottom: 10px;
  display: block;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--maine__color__secondery);
  font-size: 12px;
}

.label__box {
  position: relative;
  margin-top: 4px;
  display: block;
}

.label__field {
  width: 100%;
  height: 40px;
  outline: none;
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}
.label__field:hover {
  cursor: pointer;
}
.label__field:focus {
  border: 1px solid var(--accent__color);
}

.label__icon {
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
}
.label__field:focus + .label__icon {
  fill: var(--accent__color);
}

.coment {
  margin-bottom: 20px;
  display: block;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--maine__color__secondery);
  font-size: 12px;
}

.coment__field {
  display: block;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  font-size: 12px;
}
.coment__field:hover {
  cursor: pointer;
}
.coment__field:focus {
  border: 1px solid var(--accent__color);
}
.coment__field::placeholder {
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.consent {
  align-items: center;
  margin-bottom: 30px;
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}

.consent__text {
  align-items: center;
  display: flex;
}
.consent__text:hover {
  cursor: pointer;
}

.consent__text::before {
  display: inline-block;
  margin-right: 7px;
  content: "";
  height: 15px;
  border: 1px solid var(--maine__color__dark);
  width: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
}
.consent__field:checked + .consent__text::before {
  background-position: center;
  background-image: url(../images/icon\ check-blue\(1\).svg);
}
.consent__field:focus + .consent__text::before {
  border-color: #2196F3;
}
.consent__field:focus .consent__text::before {
  border-color: var(--accent__color);
}

.consent__link {
  text-decoration: underline;
  color: var(--accent__color);
}

.button__form {
  min-width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: none;
  display: block;
}
.button__form:hover {
  cursor: pointer;
  background-color: #188CE8;
}

@media screen and (max-width: 767px) {
  .consent__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .consent__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .consent__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}
.potrfolio-nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.potrfolio-nav_items:not(:last-child) {
  margin-right: 8px;
}

.potrfolio-nav_items {
  display: block;
}

.potrfolio-nav__button {
  display: flex;
  padding: 6px 22px;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--maine__color__dark);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.potrfolio-nav__button:hover, .potrfolio-nav__button:focus {
  background-color: var(--accent__color);
  color: var(--maine__color__light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 767px) {
  .potrfolio-nav__button {
    display: block;
  }
  .potrfolio-nav__list {
    justify-content: start;
  }
  .potrfolio-nav_items:not(:last-child) {
    margin-bottom: 15px;
  }
}
.experience {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  border-color: #EEEEEE;
  border-bottom: 1px;
}

.experience__items {
  margin-left: 30px;
  margin-top: 30px;
  padding: 0px;
}

.experience__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0px;
  padding: 0px;
}
.experience__link:hover, .experience__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.experience__box {
  position: relative;
  overflow: hidden;
}

.overley {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.experience__link:hover .overley, .experience__link:focus .overley {
  transform: translateY(-100%);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.overley__text {
  padding: 64px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--maine__color__light);
}

.experience__description {
  margin-top: 20px;
  padding: 20px 20px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
}

.experience__title {
  display: block;
  margin-bottom: 4px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--maine__color__dark);
}

.experience__product {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--maine__color__secondery);
}

@media screen and (max-width: 767px) {
  .experience__items {
    max-width: 450px;
  }
  .experience__box {
    max-width: 450px;
  }
  .experience__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 768px) {
  .experience__items {
    width: 354px;
  }
  .experience__box {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .experience__items {
    width: 370px;
  }
  .experience__box {
    max-width: 370px;
  }
}
.mobail-menu.is-open {
  opacity: 0;
  visibility: hidden;
}

.mobail-menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vw;
  z-index: 200;
  opacity: 1;
}

.mobail-menu__conteiner {
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 48px;
  background-color: var(--maine__color__light);
}

.mobail-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
}
.mobail-menu__close-btn:hover, .mobail-menu__close-btn:focus {
  color: var(--accent__color);
  cursor: pointer;
}

.mobail-menu__icone-close {
  fill: currentColor;
}

.mobail-menu__list {
  margin-bottom: 302px;
}

.mobail-menu__link {
  color: var(--maine__color__dark);
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.mobail-menu__link:hover, .mobail-menu__link:focus {
  color: var(--accent__color);
}

.mobail-menu__items:not(:last-child) {
  margin-bottom: 32px;
}

.mobail-menu__contact {
  margin-bottom: 64px;
}

.mobail-menu__items-contact:not(:last-child) {
  margin-bottom: 32px;
}

.mobail-menu__link-contact {
  color: var(--maine__color__secondary);
}
.mobail-menu__link-contact:hover, .mobail-menu__link-contact:focus {
  color: var(--accent__color);
}

.mobail-menu__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: var(--accent__color);
}

.mobail-social {
  display: flex;
}

.mobail-social__items:not(:last-child) {
  margin-right: 20px;
}

.mobail-social__link {
  display: block;
  color: var(--accent__color);
}

.current {
  color: var(--accent__color);
}

.header {
  position: relative;
}

.header__conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__header {
  display: block;
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navigation {
    display: none;
  }
  .contact {
    display: none;
  }
  .header__mobail-btn {
    margin: 0;
    padding: 0;
    line-height: 0;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .header__mobail-icon {
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }
  .contact {
    display: flex;
  }
  .header__mobail-btn {
    display: none;
  }
  .header {
    border-bottom: 1px solid #ECECEC;
  }
  .current::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -4%;
    display: inline-block;
    width: 108%;
    height: 4px;
    background-color: var(--accent__color);
    border-radius: 2px;
  }
}
@media screen and (min-width: 1200px) {
  .logo__header {
    margin-right: 92px;
  }
}
.hero {
  display: flex;
  align-items: center;
  background-color: var(--backgroundcolor__dark);
  margin: 0 auto 0 auto;
  max-width: 480px;
  max-height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/imagesmobopt/hero-mob-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/imagesmobopt/hero-mob-img@2x.jpg);
  }
}
.hero__conteiner {
  text-align: center;
}

.hero__title {
  display: block;
  margin-bottom: 30px;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--maine__color__light);
}

.hero__button {
  min-width: 216px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188CE8;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/imagestabopt/Header_img.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/imagestabopt/Header_img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero__conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .hero__button {
    width: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/heroiImg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/images/hero@2x.jpg);
  }
}
.benefits {
  margin-bottom: 60px;
  padding-bottom: 0;
  padding-top: 60px;
}

.benefits__items {
  max-width: 450px;
}

.benefits__picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--backgraund__icon);
  margin-bottom: 30px;
}

.benefits__icon {
  width: 70px;
  height: 70px;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maine__color__dark);
}

.benefit__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--maine__color__secondery);
}

@media screen and (min-width: 768px) {
  .benefits {
    margin-bottom: 60px;
  }
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .benefits__items {
    flex-basis: 354px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: -30px;
  }
  .benefits__items {
    flex-basis: 270px;
    margin-left: 30px;
  }
  .benefits {
    padding-bottom: 0;
    padding-top: 94px;
  }
}
.activity__conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--maine__color__dark);
}

.activity__list {
  display: flex;
  margin-left: -30px;
}

.activity__items {
  position: relative;
  margin-left: 30px;
}

.activity__description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  z-index: 2;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maine__color__light);
}

@media screen and (max-width: 767px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}
.team {
  padding: 60px 0 60px 0;
  background-color: #F5F4FA;
}

.team__conteiner {
  display: flex;
  flex-direction: column;
}

.team__title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--maine__color__dark);
}

.team-list {
  display: block;
}

.team-list__items {
  max-width: 450px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--maine__color__light);
}

.team-list__text-box {
  margin: 0 auto;
  max-width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-list__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--maine__color__dark);
}

.team-list__description {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--maine__color__secondery);
}

@media screen and (max-width: 767px) {
  .team__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  .team-list__items:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  .team-list__items {
    width: 354px;
    margin-left: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--maine__color__light);
  }
  .team-list__items:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
  }
  .team {
    padding: 94px 0px;
  }
  .team-list__items {
    margin-bottom: 0px;
    width: 270px;
  }
  .team-list__items:nth-child(n-2) {
    margin-bottom: 0px;
  }
}
.partner {
  padding: 60px 0;
}

.partner__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.partner__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.partner__items {
  margin-left: 30px;
  margin-bottom: 30px;
}

.partner__link {
  width: 210px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  border: 1px solid;
  border-color: var(--color__icon);
  color: var(--color__icon);
}
.partner__link:hover, .partner__link:focus {
  border: 1px solid;
  border-color: var(--accent__color);
}
.partner__link:hover, .partner__link:focus {
  color: var(--accent__color);
}

.partner__logo {
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .partner__conteiner {
    display: flex;
    flex-direction: column;
  }
  .partner__list {
    display: flex;
  }
  .partner__link {
    width: 226px;
  }
  .partner__title {
    display: block;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .partner {
    padding: 94px 0;
  }
  .partner__title {
    margin-bottom: 50px;
  }
  .partner__link {
    width: 170px;
  }
  .partner__list {
    justify-content: space-between;
  }
}
.footer {
  padding: 60px 0;
  background-color: var(--backgroundcolor__dark);
}

.logo__footer {
  margin-bottom: 20px;
  color: var(--maine__color__light);
}

.communication__text {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social__footer {
  min-width: 206px;
}

.social__link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--maine__color__light);
}
.social__link-footer:hover, .social__link-footer:focus {
  background-color: var(--accent__color);
}

.social__icon-footer {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .footer__box {
    margin-bottom: 60px;
  }
  .logo__footer {
    margin: 0 auto 20px auto;
  }
  .address {
    margin: 0 auto;
  }
  .address__contacts {
    margin: 0 auto;
  }
  .address__link {
    display: block;
    text-align: center;
  }
  .communication {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer__conteiner {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  .footer__box {
    margin-bottom: 60px;
  }
  .logo__footer {
    margin: 0 auto 20px auto;
  }
  .address {
    margin: 0 auto;
  }
  .address__contacts {
    display: block;
    margin: 0 auto;
  }
  .communication {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }
  .address__link {
    display: block;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box {
    margin-bottom: 0px;
    margin-right: 70px;
  }
  .address__link {
    text-align: start;
  }
  .logo__footer {
    margin: 0 0 20px 0;
  }
}
.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-form__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--maine__color__light);
}

.footer-form__field {
  width: 450px;
  height: 50px;
  background-color: inherit;
  padding-left: 16px;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--maine__color__light);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__field:hover {
  cursor: pointer;
}
.footer-form__field:focus {
  border-color: var(--accent__color);
}
.footer-form__field::placeholder {
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.button__footer-form {
  position: relative;
  display: inline-block;
  min-width: 200px;
  margin-left: 12px;
  padding: 10px 62px 10px 28px;
  border: none;
}
.button__footer-form:hover, .button__footer-form:focus {
  cursor: pointer;
  background-color: #188CE8;
}

.footer-form__icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .footer-form__field {
    display: block;
    margin: 0 auto 20px auto;
    padding: 0;
    max-width: 100%;
  }
  .footer-form__box {
    width: 100%;
  }
  .button__footer-form {
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: 94px;
  }
  .footer-form__title {
    margin-right: auto;
  }
  .footer-form__field {
    width: 358px;
  }
}
.potrfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}

.potrfolio__conteiner {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */