.footer {
    padding: 60px 0;
    background-color: var(--backgroundcolor__dark);
}
.logo__footer{
    margin-bottom: 20px;
        
    color: var(--maine__color__light);
}
.communication__text{
    @extend %text;

     display: block;
     margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.social__footer{
    min-width: 206px;
}
             
.social__link-footer{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    border-radius: 50%;
    
    background-color: rgba(255, 255, 255, 0.1);
    color:var(--maine__color__light) ;
&:hover,
&:focus{
    background-color: var(--accent__color);
    }
}
        
    
.social__icon-footer{
    fill:currentColor;
}
@media screen and (max-width: 767px){
    .footer__box{
        margin-bottom: 60px;
    }
    .logo__footer{
        margin: 0 auto 20px auto;
    }
    .address{
        margin: 0 auto;
        }
    .address__contacts{
        margin: 0 auto;
    }
    .address__link{
        display: block;
        text-align: center;
    }
    .communication{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px){
    
    .footer__conteiner{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;
    }
   
    .footer__box{
        margin-bottom: 60px;
    }
    .logo__footer{
        margin: 0 auto 20px auto;
    }
    .address{
        margin: 0 auto;
       
    }
    .address__contacts{
        display: block;

        margin: 0 auto;
    }
    .communication{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 60px;
    }
    .address__link{
        display: block;
        text-align: center;
    }
    
}

@media screen and (min-width: 1200px){
    .footer__box{
        margin-bottom: 0px;
        margin-right: 70px;    }
    .address__link{
        
        text-align:start;
    }
    .logo__footer{
        margin: 0 0 20px 0;
    }
}
