body{
    font-family: var(--fontfamily__praimary);
    color: var(--maine__color__dark);

}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
ul,ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img{
    display: block;
}
.link{
    text-decoration: none;
}
    
.list{
    list-style: none;
}
.conteiner{
   
    padding-left: 15px;
    padding-right: 15px;
}
.section{
    padding: 94px 0;
}
.button
{
    border-radius: 4px;
    background-color: var(--accent__color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--maine__color__light);
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
