:root{
    --backgroundcolor__dark:#2F303A;
    --accent__color: #2196F3;
    --maine__color__secondery: #757575;
    --maine__color__dark: #212121;
    --fontfamily__praimary:'Roboto', sans-serif;
    --fontfamily__secondery:'Raleway', sans-serif;
    --maine__color__light:#FFFFFF;
    --backgraund__icon:#F5F4FA;
    --color__icon:#AFB1B8;

}